<head>
    {% load static %}
    {% load ratings %}
    <!-- Compiled and minified CSS -->
    <link href="{% static 'main/css/materialize.css' %}" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
    </script>
</head>

<body class="container">

<header><h3>Requirement Notes</h3></header>
<div>
	<p>The project must fulfil the following hardware and software requirements in order to run smoothly on the given interface and provide a better user experience. These requirements may vary with time, i.e. as the data increases more computational power would be required to generate valid predictions from that data<br>
Even software requirements might change with update in modules and libraries, hence keeping version control tool like git would be very helpful in easily migrating those changes. Git even helps with increasing number of collaborators and changes suggested by them, it shows the code changes and hence can be safely committed. Following is the list of hardware and software requirements for the current project:
<br>
Software requirements:
Following is the list of packages that should be installed in the server in order to run our application:<br>
<ul>
<li>Django        2.2</li>
<li>django-appconf       1.0.3</li>
<li>django-braces        1.13.0</li>
<li>django-model-utils   3.1.2</li>
<li>django-star-ratings  0.7.0</li>
<li>django-tinymce-lite  0.0.2</li>
<li>django-tinymce4-lite 1.7.4</li>
<li>httplib2             0.12.0</li>
<li>idna                 2.8</li>
<li>jsmin                2.2.2</li>
<li>kiwisolver           1.0.1</li>
<li>matplotlib           3.0.3</li>
<li>numpy                1.16.2+mkl</li>
<li>oauth2               1.9.0.post1</li>
<li>pandas               0.24.2</li>
<li>pip                  19.0.3</li>
<li>PTable               0.9.2</li>
<li>pygal                2.4.0</li>
<li>pyparsing            2.4.0</li>
<li>python-dateutil      2.8.0</li>
<li>pytz                 2018.9</li>
<li>requests             2.21.0</li>
<li>scikit-learn         0.20.3</li>
<li>scipy                1.2.1</li>
<li>setuptools           39.0.1</li>
<li>six                  1.12.0</li>
<li>sqlparse             0.3.0</li>
<li>swapper              1.1.0</li>
<li>urllib3              1.24.1</li>
<li>virtualenv           16.4.3</li>
<li>yahoo-weather        1.0.6</li>
<li>Tensorflow        Versions may vary</li>
</ul>
<br>
All these packages can be installed using the python package manager pip. It is important to note the versions of these packages, since different versions might not work together.  

</p>
</div>
</body>